

body{
       font-family: 'Poppins', sans-serif;
       background-image: url(../assets/img/sfondo.png);
       background-repeat: repeat-y;
       box-sizing: border-box;
       padding: 20px;
       line-height: 1.5;
    }

header{
        background-color: rgb(40, 127, 198);
        height: 250px;
        border:1px solid #999;
        margin-left: 20px;
            
        
        
}

.logo{
    justify-content: center;
    text-align: center;
    
    
}

#imglogo{
    width: 250px;
    margin-top: 25px;
    margin-right: 30px;
}

#h2{
    margin-top: 15px;
    color: white;
    font-weight: bold;
    font-size: 0.8 rem;
    
}

h1{
    font-size:2rem;
    font-weight: bold;
    margin: 20px;
    

}

main{
    background-color: white;
    margin: 20px ;
    border:1px solid #999;
    
    
    
}

.section1{
    justify-content: center;
    margin: 20px;

}

#art1{
    margin-right: 80px;
    margin-bottom: 15px;
}
#art2{
    margin-right: 90px;
    margin-bottom: 15px;
}

.list{
    margin-top: 30px;
    margin-left: 30px;
}

.articoli{
    margin-right: 80px;
    margin-bottom: 15px;

}

table{
    border: 1px solid white;
}

#titolotab{
    font-weight: bold;
    font-style: italic;
}

.rows{
    border: 1px solid white;
    background-color: gray;
}



iframe{
    width: 100%;
}
