*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

#logo{
    background-color: #c5c6da;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:30px;
    
}

.menù{
    flex-direction: row;
    display: flex;
    justify-content:center ;
    gap: 20px;  
    align-items: center;
    padding: 20px;
    font-size:medium;
    font-weight: 900;
        
}


.title{
    color: rgb(255, 255, 255);
    font-size: larger;
    padding: 20px;
    background-color: #c5c6da;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mario{
    font-size: small;
    text-decoration: underline;
}

.section1{
    background-color: #c5c6da;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section2{
    background-color: #c5c6da;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section3{
    background-color: #c5c6da;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}




nav {
    display: flex;
    background-color: #c5c6da;
}
