h1{
    color: rgb(81, 15, 143);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 50px;
}

h2{
    font-size:12px ;
    color: black;
}

#paragrafi{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list{
    font-size: 20px;
}